# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
/configure
/config.h.in
/aclocal.m4
/Makefile.in
/depcomp
/install-sh
/missing
/Makefile
/config.h
/config.log
/config.status
/hashlet

autom4te.cache/
src/.deps/
/src/.dirstamp
/stamp-h1
/config.h.in~
